<form name="form" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="VesselName">Vessel Name</label>
        <div class="col-sm-3">
            <!--<select name="VesselList" ng-options="v.Name as v.Name for v in vesselList" ng-model="trip.VesselName" class="form-control" id="VesselName">
            </select>-->
            <input type="text" class="form-control"
                autocomplete="off"
                typeahead-min-length="2"
                typeahead-wait-ms="30"
                typeahead="vessel.Name for vessel in vesselTypeAhead($viewValue)"
                ng-model="trip.VesselName" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="StartPortName">Departure Port</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"
                autocomplete="off"
                typeahead-min-length="2"
                typeahead-wait-ms="30"
                typeahead="port.Name for port in portTypeAhead($viewValue)"
                ng-model="trip.StartPortName" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="EndPortName">Return Port</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"
                autocomplete="off"
                typeahead-min-length="2"
                typeahead-wait-ms="30"
                typeahead="port.Name for port in portTypeAhead($viewValue)"
                ng-model="trip.EndPortName" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="StartDate">Departure Date</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" id="StartDate" class="form-control" placeholder="dd MMM yyyy"
                    ui-date='{ dateFormat: "d M yy" };' ui-date-format
                    ng-model="trip.StartDate" />
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="EndDate">Return Date</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" id="EndDate" class="form-control" placeholder="dd MMM yyyy"
                    ui-date='{ dateFormat: "d M yy" };' ui-date-format
                    ng-model="trip.EndDate" />
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="ObsvCode">Observer Code</label>
        <div class="col-sm-2">
            <!--<input type="text" ng-model="trip.ObsvCode" class="form-control">-->
            <input type="text" class="form-control"
                autocomplete="off"
                typeahead-min-length="2"
                typeahead-wait-ms="30"
                typeahead-editable="false"
                typeahead-on-select="setKnownObserver($item, $model, $label)"
                typeahead="observer.Code as ('['+observer.Code+'] -'+observer.FirstName+' '+observer.FamilyName) for observer in observerTypeAhead($viewValue)"
                ng-model="trip.ObsvCode" />
        </div>
        <div class="col-sm-8">
            <p class="form-control-static">{{selectedObserver.FirstName}} {{selectedObserver.FamilyName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="ObsvTripCode">Observer Trip Code</label>
        <div class="col-sm-2">
            <input type="text" ng-model="trip.ObsvTripCode" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="ObsvProgCode">Observer Program</label>
        <div class="col-sm-2">
            <!--<input type="text" ng-model="trip.ObsvProgCode" class="form-control">-->
            <input type="text" class="form-control"
                autocomplete="off"
                typeahead-min-length="2"
                typeahead-wait-ms="30"
                typeahead="prog.Code for prog in obsvProgTypeAhead($viewValue)"
                ng-model="trip.ObsvProgCode" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Status">Status</label>
        <div class="col-sm-5">
            <select name="StatusList" ng-options="v.Code as v.Label for v in statusList" ng-model="trip.Status" class="form-control">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="LastModifiedBy">Modified By</label>
        <div class="col-sm-2">
            <input type="text" ng-model="trip.LastModifiedBy" class="form-control">
        </div>
    </div>

    <div class="form-actions">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid">Submit</button>
            <a href="#/" class="btn">Cancel</a>
        </div>
    </div>

</form>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th ng-repeat="header in headers">{{ header.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trip in historyList">
            <td>{{trip.VesselName}}</td>
            <td style="white-space: nowrap;">{{trip.StartDate | date:'dd-MMM-yyyy'}}
                <br />
                {{trip.EndDate | date:'dd-MMM-yyyy'}}</td>
            <td>{{trip.StartPortName}}<br />
                {{trip.EndPortName}}</td>
            <!--<td style="white-space: nowrap;">{{trip.EndDate | date:'dd-MMM-yyyy'}}</td>
            <td>{{trip.EndPortName}}</td>-->
            <td>{{trip.ObsvCode}}</td>
            <td>{{trip.ObsvTripCode}}</td>
            <td>{{trip.ObsvProgCode}}</td>
            <td>{{trip.Status}}</td>
            <td style="white-space: nowrap;">{{trip.LastModifiedDate | date:'dd-MMM-yyyy'}}</td>

            <td>{{trip.LastModifiedBy}}</td>
        </tr>
    </tbody>
</table>
